@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/
@import "../node_modules/bulma/bulma";
@import '../node_modules/bulma-switch/dist/css/bulma-switch.sass';
// @import '~bulma-switch';
@import "../node_modules/bulma/sass/utilities/initial-variables";
$purple: #e098fa;
$purple-invert: #1f6705;
$primary: $purple;
$primary-invert: $purple-invert;

html, body {
  height: 100%;
}

body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.custom-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.mother-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.title-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.margin-button {
    margin-left: 12px;
}

@media (max-width:753px)
{
    .margin-button {
        margin-left: 0px;
        margin-top: 6px;
    }
    .title-box {
        flex-direction: column;
        align-items: center;
    }
    .dropdown-menu {
        left: -76px
    }
}